.own-message {
  justify-content: end;
  margin-bottom: 20px;
  position: relative;
}

.own-message .message-content {
  justify-items: end;
}

.own-message .message-text {
  background: #0048AA;
  color: #eee;
  border: 1px solid #0048AA;
  border-radius: 14px 14px 0 14px;
}

.own-message button {
  cursor: pointer;
}

.message-edit {
  width: 70px;
  text-align: center;
  border: 2px solid #0048AA;
  padding: 8px 0;
  background-color: white;
  border-radius: 14px;
}

.message-delete {
  width: 70px;
  text-align: center;
  border: 2px solid red;
  padding: 8px 0;
  background-color: red;
  border-radius: 14px;
  color: white;
}