.message-input {
    background: #eee;
  }
  
.message-input {
  align-content: center;
  align-items: center;
  border-radius: 0 0 10px 0;
  border-top: 1px solid rgba(0,0,0,0.25);
  padding-left: 42px;
  padding-right: 22px;
}
  
.message-input-text {
  outline: none;
  padding: 15px;
  border: 2px solid #ddd;
  color: #330;
  border-radius: 6px;
  font-size: 1.4rem;
}

.message-input-button {
  width: 80px;
  height: 30px;
  background-color: #0048AA;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

.message-input-button:disabled {
  cursor: default;
  background-color: #77adff;
}
